<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="OpenWeatherMap:ServiceUri" value="http://api.openweathermap.org/data/2.5/weather" />
    <add key="OpenWeatherMap:AppId" value="077cc5480d6fd71002f3999f7b04218c" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>